<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>fupdate title</title>
</head>

<body>
	<!--	http://localhost:8080/fupdate : html
		static : 이미지, css, js, uploadPath
	-->

	<h1>templates/board/fupdate.html</h1>
	<form action="/board/fupdatePro" method="post" enctype="multipart/form-data">
		<input type="hidden" name="num" th:value="${board.num}">
		제목 : <input type="text" name="subject" th:value="${board.subject}"><br>
		작성자 : <input type="text" name="name" th:value="${board.name}" readonly><br>
		파일 : <input type="file" name="file" th:value="${board.file}"><br>
		<img th:src="@{'/uploads/' + ${board.file}}" alt="Uploaded Image" width="400"><br>
		내용 : <textarea name="content" rows="5" cols="10" th:text="${board.content}"></textarea><br>
	<input type="submit" value="수정하기">
	</form>
</body>

</html>