<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>fupdate title</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/top.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
</head>

<body>
	<!--	http://localhost:8080/fupdate : html
		static : 이미지, css, js, uploadPath
	-->

	<header th:insert="~{inc/top}"></header>
	<div class="all">
		<div class="main">
			<form action="/board/fupdatePro" method="post"
				enctype="multipart/form-data">
				<input type="hidden" name="num" th:value="${board.num}"> <label>제목
					:</label> <input type="text" name="subject" th:value="${board.subject}"><br>
				<label>작성자 :</label><input type="text" name="name"
					th:value="${board.name}" readonly><br>
				<label>파일 :</label><input type="file" name="file"
					th:value="${board.file}"><br> <img
					th:src="@{'/uploads/' + ${board.file}}" alt="Uploaded Image"
					width="400"><br>
				<label>내용 :</label>
				<textarea name="content" rows="5" cols="10"
					th:text="${board.content}"></textarea>
				<br> <input type="submit" value="수정하기">
			</form>
		</div>
	</div>
	
	<footer th:insert="~{inc/footer}"></footer>
	
</body>

</html>