<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>write title</title>
</head>

<body>
	<!--	http://localhost:8080/write : html
		static : 이미지, css, js, uploadPath
	-->

	<h1>templates/member/write.html</h1>
	<form action="/board/fwritePro" method="post" enctype="multipart/form-data">
		이름 : <input type="text" name="name" th:value="${session.id}" readonly><br>
		제목 : <input type="text" name="subject"><br>
		파일 : <input type="file" name="file"><br>
		내임 : <textarea name="content" rows="5" cols="10"></textarea><br>
		<input type="submit" value="글쓰기">
	</form>
</body>

</html>