<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>main title</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/top.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>
	<!--	http://localhost:8080/main : html
		static : 이미지, css, js, uploadPath
	-->
	<header th:insert="~{inc/top}"></header>

		<div class="main_home">
		    <div class="profile-section">
		        <p class="profile-text">게임과 세상 소식을 좋아하는 일반인입니다.</p>
		        <img th:src="@{/uploads/Kuma.jpg}" alt="Profile Image" class="profile-img">
		    </div>
		
		    <div class="link-section">
		        <h3 class="link-title">유용한 링크</h3>
		        <div class="link-group">
		            <a href="https://www.google.com" target="_blank">구글</a>
		            <a href="https://www.naver.com" target="_blank">네이버</a>
		            <a href="https://kr.investing.com" target="_blank">인베스팅닷컴 코리아</a>
		        </div>
		    </div>
		</div>

	<footer th:insert="~{inc/footer}"></footer>
</body>

</html>